.banner-wrapper {
  margin-bottom: 3em;
}

.banner-gradient {
  width: 100%;
  height: 30%;
  background-image: linear-gradient(rgba(255, 0, 0, 0), black 150%);
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.banner-header-content {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.banner-header-title {
  font-size: 2em;
  margin-bottom: .6em;
}

.banner-header-button {
  color: white;
  border: 1px solid white;
  border-radius: .5em;
  padding: .5em 3em;
}

.banner-products {
  display: flex;
  gap: .5em;
  margin: .5em .5em 0em .5em;
  overflow-x: auto;
}
