.input-wrapper {
  width: 100%;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  width: 28em;
}

.input-wrapper input {
  background-color: transparent;
  border: none;
  height: 3.1em;
  width: 100%;
  padding-left: 1em;
  font-size: 1em;
  font-family: fraktion;
}

.input-wrapper input:focus {
  outline: none;
}
