.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-left, .navbar-right {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-left {
  width: 15vw;
  justify-content: space-between;
}

.navbar-left, .navbar-right li {
  cursor: pointer;
}

.navbar-right {
  justify-content: space-between;
  width: 3.5vw;
}

.navbar-right li {
  position: relative;
}

.navbar-right li svg {
  display: block;
}

.items-count {
  position: absolute;
  top: 1.3em;
  right: .1em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  font-size: .8em;
  padding: .1em
}
