.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.navbar-content {
  width: 95%;
  display: flex;
  align-items: center;
  position: relative;
  padding: .9em 0;
}

.navbar-left, .navbar-right {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5em;
}

.navbar-left {
  color: #404040;
}

.shop-list {
  list-style: none;
  padding-top: .8em;
  padding-left: .8em;
  padding-bottom: .8em;
  margin: 0;
  width: 10em;
  background-color: white;
  position: absolute;
  display: none;
}

.active-shop {
  display: block;
}

.site-name {
  font-size: 2em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-left li, .navbar-right li {
  cursor: pointer;
}

.navbar-left li {
  display: flex;
  align-items: center;
}

.navbar-right {
  position: absolute;
  right: 0;
}

.navbar-right li {
  position: relative;
}

.items-count {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  font-size: .8em;
  padding: .1em
}
