.product-view-content {
  display: flex;
  margin-bottom: .5em;
}

.product-view-content .product-images {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 30vw;
  gap: .5em;
}

.product-images .image:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.product-images svg {
  opacity: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  display: block;
}

.product-view-content .right-side {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product-view-content .right-side-content {
  width: 60%;
  top: 5%;
  margin-bottom: 2.5vw;
  left: 50%;
  position: sticky;
}

.product-name-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.product-colors {
  display: flex;
  gap: .2em;
}

.product-colors .color {
  cursor: pointer;
  border-radius: .2em;
}

.current-color, .current-size {
  color: #9B9B9B;
  font-size: .7em;
}

.product-sizes {
  display: flex;
  gap: .2em;
}

.product-sizes .size {
  padding: .6em .9em;
  cursor: pointer;
  border: .5px solid gray;
  border-radius: .2em;
}

.selected-size {
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: .2em;
}

.stock {
  font-size: .8em;
}

.product-stock-shipping {
  display: flex;
  justify-content: space-between;
}

.free-shipping {
  display: flex;
  align-items: center;
  gap: .3em;
  color: #9B9B9B;
  font-size: .8em;
}

.add-to-cart {
  cursor: pointer;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: .4em;
  padding: .7em 0;
  margin: 1em 0;
}
