.product-view-content {
  display: flex;
}

.product-view-content .left-side {
  width: 50%;
  overflow: hidden;
  border: px solid red;
}

.product-view-content .right-side {
  width: 50%;
  position: relative;
  border: 1px solid red;
}

.product-view-content .right-side-content {
  top: 0;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  position: sticky;
}

.product-sizes {
  display: flex;
}

.product-sizes .size {
  padding: .3em;
  cursor: pointer;
  border: .5px solid gray;
  border-radius: .2em;
}

.selected-size {
  background-color: black;
  color: white;
  /* padding: .3em; */
  cursor: pointer;
  border-radius: .2em;
}

.add-to-cart {
  cursor: pointer;
}