.cart-wrapper {
  background-color: white;
  height: 100vh;
  width: 25em;
  position: absolute;
  top: 0;
  left: 100%;
  border-left: .5px solid gray;
}

.close-cart {
  position: absolute;
  top: 1vw;
  right: 1vw;
  cursor: pointer;
}

.close-cart svg {
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  margin: 0;
}

.cart-wrapper .items {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.empty-cart, .empty-cart-upper {
  display: flex;
  flex-direction: column;
}

.empty-cart {
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.empty-cart-upper {
  gap: 1em;
}

.empty-cart-text, .empty-cart-account div:first-child, .new-launches-text {
  font-size: 1.5em;
}

.empty-cart .button {
  cursor: pointer;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: .4em;
  padding: .7em 0;
}

.empty-cart-account {
  text-align: center;
}

.new-launches {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: .8em;
}

.new-launches-image {
  background-image: url('/images/first-header.webp');
  background-size: cover;
  background-position: center;
  width: 18em;
  height: 18em;
}
